<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <title>Plat</title>
</head>
<body>
    <div id="header">
        <h1><span id="title">Au petit comptoir | <span id="sub-title">Plat</span></span></h1>
    </div>
    <!-- navigateur -->
    <span id="menu"><span id="menu"></span></span>
    <div class="wrap">
        <a id="menu" href="{{ url_for('divers') }}"><div></div></a>
        <a id="menu" href="{{ url_for('entree') }}"><div></div></a>
        <a id="menu" href="{{ url_for('plat') }}"><div></div></a>
        <a id="menu" href="{{ url_for('dessert') }}"><div></div></a>
        <a id="menu" href="{{ url_for('main') }}"><div></div></a>
    </div>
    
    <!-- Liste recette -->
    <div>
        <br>
        <h1 id="mess">{{ message }}</h1>
        <br>
        <form method="POST">
            {% for mess in recette %}
            <div id="table">
                <input type="submit" id="button" name="test" value="{{ mess[0] }}">
                <p id="name">{{ mess[2] }}</p>
                
            </div>
            {% endfor %}
        </form>
    </div>
    
</body>
</html>