<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <title>{{ name }}</title>
</head>
<body>
    <!-- Header -->
    <div id="header">
        <div id="logo"></div>
        {% if connect == True %}
        <h1><span id="title">Au petit comptoir | <span id="name">{{ name }}</span></span><span><a id="connection" href="{{ url_for('connection') }}">{{compte[1]}}</a></span></h1>
        {% else %}
        <h1><span id="title">Au petit comptoir | <span id="name">{{ name }}</span></span><span><a id="connection" href="{{ url_for('connection') }}">Connection</a></span></h1>
        {% endif %}
        
    </div>
    <!-- Navigateur -->
    <span id="menu"><span id="menu"></span></span>
    <div class="wrap">
        <a id="menu" href="{{ url_for('divers') }}"><div></div></a>
        <a id="menu" href="{{ url_for('entree') }}"><div></div></a>
        <a id="menu" href="{{ url_for('plat') }}"><div></div></a>
        <a id="menu" href="{{ url_for('dessert') }}"><div></div></a>
        <a id="menu" href="{{ url_for('main') }}"><div></div></a>
    </div>

    <!-- recette -->
    <div id="recette">
        
        <span id="name"><h2 id="name">{{ name }}</h2></span>
        
        <div id="ingr">
            <h2 id="title_ingr">Liste des ingrédients</h2>
            {% for row in ingr %}
            <div id="fleche"></div><h2 id="ingr">{{ row }}</h2>
            {% endfor %}
        </div>
        <br>
        <div id="instr">
            <h2 id="title_instr">Instuctions :</h2>
            {% for ro in instr %}
            <h2 id="instr">{{ ro }}</h2>
            {% endfor %}
        </div>
    </div>

    <!-- Commentaire -->
    <div id="comment">
        {%if connect == True%}
        <form method="POST" action="/comment">
            <h2>Espace commentaire</h2>
            <textarea name="text" rows="10" cols="80" placeholder="write here (820 caracter max)" maxlength="820"></textarea>
            <br>
            <input type="submit" name="Envoyer" value="Send">
        </form>
        {%else%}
            <h2>Espace commentaire</h2>
            <h2>Veuillez vous connecter pour pouvoir poster des commentaires</h2>
            <textarea id="comment_disabled" name="text" rows="10" cols="80" placeholder="non accessible aux non-connectés" maxlength="820" disabled ></textarea>
            <br>
            <input type="submit" name="Envoyer" value="Send">
        {%endif%}
    </div>
    <div id="comment_text">
        {% for com in comment %}
        <ul id="comment_text">
            <li><span>De :</span><span id="username"> {{ com[1] }} </span></li>
            <li><h2 id="text" >{{ com[2] }}</h2></li>
        </ul>
        {% endfor %}
    </div>
    
</body>
</html>