<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport"/>
		<meta charset="uft-8"/>
		<title> Bouffe </title>
		
	</head>
	<body>
		<div>
			<h1>Log In</h1>
  			<form action="/login" method="POST">
    			<input type="text" name="usernames" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="MDP" id="password" placeholder="Password" required/>
    			<br>
				<!--<input type="text" name="mail" id="mail" placeholder="email" required/>
    			<br> -->
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div>
		<form action="/register" method="POST">
			<input type="text" name="usernames" id="username" placeholder="Username" required/>
			<br>
			<input type="password" name="MDP" id="password" placeholder="Password" required/>
			<br>
			<input type="text" name="mail" id="mail" placeholder="email" required/>
			<br>
			<input type="submit" class="button" value="Log In"/>
		  </form>
	</body>
</html>